@use '../../../../base/styles/values.scss' as v;

.Template {
  .Header {
    .AlarmList_Object {
      display: flex;
      flex-direction: column;

      height: fit-content;

      width: 100%;
    }
  }
}




