@use '../../../../base/styles/values.scss' as v;

.Template {
  .Header {
    .LogInButton {
      align-items: center;
      background-color: white;
      border-color: v.$SAKURA_BORDER;
      border-radius: 8px;
      border-width: 2px;

      color: v.$SAKURA_TEXT;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      height: 32px;

      justify-content: center;

      transition: 0.2s;

      width: 72px;

      &:hover {
        background-color: v.$SAKURA_BG_50;
        font-weight: 700;
      }
    }
  }
}
