@use '../../../base/styles/values.scss' as v;

.Template {
  .QnAPage {
    align-items: center;

    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: center;
    width: 100%;

    ._wrapper_page {
      align-items: center;
      display: flex;
      flex-direction: column;

      height: fit-content;

      margin-top: 24px;

      width: 600px;
    }
  }
}
