@use '../../../../../base/styles/values.scss' as v;

.Template {
  .AdminPage {
    .Users_Part {
      align-items: center;

      border-color: v.$SAKURA_BORDER;
      border-radius: 8px;
      border-width: 4px;

      box-shadow: 0 0 10px 0 rgba(60, 60, 60, 0.2);

      color: v.$SAKURA_TEXT;

      display: flex;
      flex-direction: column;

      height: 250px;

      transition: box-shadow 0.3s ease;

      width: 250px;

      &:hover {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
      }

      ._title_part {
        cursor: pointer;
        font-size: 26px;
        font-weight: 700;

        height: 40px;

        justify-content: center;

        text-align: start;
        transition: font-size 0.2s ease-in-out;
        user-select: none;

        &:hover {
          font-size: 28px;
        }
      }
    }
  }
}
