@use '../../base/styles/values.scss' as sv;

.Template {
  .BlogPage {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: fit-content;

    margin-bottom: 48px;
    min-height: 800px;
    padding-top: 48px;

    width: 100%;

    ._button_reading {
      background-color: white;
      border-color: #d0d0d0;
      border-radius: 4px;
      border-width: 2px;

      font-size: 14px;

      padding-left: 3px;
      padding-right: 3px;
      padding-top: 1px;
      padding-bottom: 1px;
    }
    ._button_reading:hover {
      background-color: #f0f0f0;
      font-weight: 600;
    }

    ._button_reading_sakura {
      background-color: white;
      border-color: sv.$SAKURA_BORDER;
      border-radius: 4px;
      border-width: 2px;

      color: sv.$SAKURA_TEXT;

      font-size: 14px;

      padding-left: 3px;
      padding-right: 3px;
      padding-top: 1px;
      padding-bottom: 1px;
    }
    ._button_reading_sakura:hover {
      background-color: sv.$SAKURA_BG_50;
      font-weight: 600;
    }

    ._container_page {
      align-items: center;

      border-color: #d0d0d0;
      border-radius: 12px;
      border-width: 2px;

      transition: box-shadow 0.3s ease-in-out;

      display: flex;
      flex-direction: column;

      height: fit-content;

      padding-bottom: 16px;

      width: 850px;

      &:hover {
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
      }
    }
  }
}
