.Template {
  .BlogPage {
    .HeaderName_Object {
      cursor: default;

      height: fit-content;

      width: 100%;

      ._fileName {
        font-size: 28px;
        font-weight: 500;

        padding-left: 14px;
        padding-right: 12px;
        padding-top: 4px;
        padding-bottom: 4px;
      }
    }
  }
}

