.Template {
  .Lefter {
    .AddFile_Object {
      input._file {
        border-color: #888888;
        border-width: 2px;

        padding-bottom: 2px;
        padding-left: 4px;
        padding-top: 2px;

        width: 100%;
      }
    }
  }
}

