@use '../../../../base/styles/values.scss' as v;

.Template {
  .Righter {
    .ChatRoomUser_Object {
      background-color: white;

      border-color: #808080;
      border-top-width: 2px;
      border-bottom-width: 2px;

      display: flex;
      flex-direction: column;

      font-size: 16px;
      font-weight: 500;

      padding-left: 6px;
      padding-right: 6px;
      padding-top: 2px;
      padding-bottom: 2px;

      ._name_id {
        align-items: center;
        display: flex;
        flex-direction: row;
        gap: 4px;

        ._name {
          font-size: 18px;
          font-weight: 700;
        }
        ._id {
          font-size: 15px;
          font-weight: 400;
        }
      }
      ._mail {
        font-size: 15px;
        font-style: italic;
        font-weight: 400;
      }
    }
  }
}

