@use '../../../base/styles/values.scss' as v;

.Template {
  .Righter {
    .ChatRoom_Part {
      display: flex;
      flex-direction: column;
      gap: 12px;
      height: 100%;
    }
  }
}
