@use '../../../../base/styles/values.scss' as v;

$LOG_IN_PART_WIDTH: 300px;

.Template {
  .Righter {
    .LogIn_Part {
      background-color: v.$SAKURA_BG_50;

      border-color: v.$SAKURA_BORDER;
      border-radius: 8px;
      border-width: 4px;

      display: flex;
      flex-direction: column;

      height: fit-content;

      transition: 1s ease;

      width: $LOG_IN_PART_WIDTH;

      &._open {
        opacity: 1;
        transform: translateX(0);
        width: $LOG_IN_PART_WIDTH;
      }

      &._close {
        opacity: 0;
        transform: translateX($LOG_IN_PART_WIDTH);
        width: 0;
      }
    }
  }
}
