.Template {
  .BlogReadingPage {
    .ReadingComments_Part {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: fit-content;

      min-height: 300px;

      width: 100%;

      > ._bottomLine {
        background-color: #d0d0d0;
        height: 1px;

        margin-top: 16px;
        margin-bottom: 16px;

        width: calc(100% - 24px);
      }
    }
  }
}
