@use '../../../base/styles/values.scss' as v;

.Template {
  div._modal_template {
    border-color: v.$SAKURA_BORDER;
    border-radius: 8px;
    border-width: 8px;

    ._title_modal {
      color: v.$SAKURA_TEXT;
      font-size: 24px;
      font-weight: 700;
      text-align: center;
      user-select: none;
    }

    ._form_modal {
      display: flex;
      flex-direction: column;

      width: 100%;

      ._form_item {
        display: flex;
        flex-direction: column;
        gap: 8px;

        label {
          color: v.$SAKURA_TEXT;
          font-size: 18px;
          font-weight: 700;
          user-select: none;
        }

        input {
          border-color: v.$SAKURA_BORDER;
          border-radius: 8px;
          border-width: 2px;
          color: v.$SAKURA_TEXT;

          padding: 8px;
          user-select: none;
        }
      }

      ._form_button_row {
        display: flex;
        flex-direction: row;
        width: 100%;

        ._button_form {
          border-color: v.$SAKURA_BORDER;
          border-radius: 8px;
          border-width: 2px;

          color: v.$SAKURA_TEXT;
          cursor: pointer;

          font-weight: 700;
          user-select: none;
        }
      }
    }
  }
}
