@use '../../../base/styles/values.scss' as v;

.Template {
  .SignUp_Modal {
    padding-top: 16px;
    padding-bottom: 24px;
    padding-left: 32px;
    padding-right: 32px;

    ._form_modal {
      gap: 16px;

      ._form_item {
        input {
          width: 250px;
        }
      }

      ._form_button_row {
        gap: 24px;
        justify-content: center;

        ._button_form {
          background-color: white;
          font-size: 16px;
          height: 40px;

          margin-top: 16px;

          transition: 0.2s;
          width: 72px;

          &:hover {
            background-color: v.$SAKURA_BG;
            font-size: 18px;
          }
        }
      }
    }
  }
}
