@use '../../../../../base/styles/values.scss' as v;

.Template {
  .Body_Template {
    .PageArea_Template {
      .AdminPostingPage {
        ._editingFilePart {
          .CheckDelete_Object {
            align-items: center;

            background-color: white;

            border-color: #888888;
            border-radius: 8px;
            border-width: 2px;

            display: flex;
            flex-direction: column;
            height: 100px;

            justify-content: center;

            left: 102%;
            position: absolute;
            top: 0;

            user-select: none;
            width: 160px;

            z-index: v.$SubModal_Z_Index;

            ._btn_row_object {
              display: flex;
              flex-direction: row;
              gap: 8px;
              margin-top: 16px;

              button {
                background-color: transparent;

                border-color: #888888;
                border-radius: 8px;
                border-width: 2px;

                padding-left: 4px;
                padding-right: 4px;
                padding-top: 2px;
                padding-bottom: 2px;
              }

              button:hover {
                background-color: #dddddd;

                font-weight: 700;
              }
            }
          }
        }
      }
    }
  }
}
