@use '../../../../base/styles/values.scss' as sv;

.Template {
  .PostingPage {
    .ManageStructure_Part {
      background-color: white;

      box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);

      border-radius: 8px;
      border-width: 2px;
      border-color: sv.$SAKURA_BORDER;

      height: 650px;

      margin-left: 280px;

      overflow: auto;

      padding-bottom: 4px;
      padding-top: 4px;

      transition: box-shadow 0.3s ease;

      width: 300px;

      &:hover {
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
      }

      input._dir {
        border-color: sv.$SAKURA_BORDER;
        border-width: 2px;

        padding-bottom: 2px;
        padding-top: 2px;
        padding-left: 4px;

        width: 100%;
      }

      input._file {
        border-color: #888888;
        border-width: 2px;

        padding-bottom: 2px;
        padding-left: 4px;
        padding-top: 2px;

        width: 100%;
      }

      ._icon_row {
        color: sv.$SAKURA_TEXT;
        font-size: 22px;

        &:hover {
          font-size: 26px;
        }
      }
    }
  }
}
