.RedirectHomePage {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100%;

  > ._title_page {
    font-size: 32px;
    font-weight: 700;
  }
}
