.Template {
  .Lefter {
    .FileStatus {
      align-items: center;

      border-radius: 4px;
      border-width: 1px;

      display: flex;
      flex-direction: row;
      font-size: 12px;

      justify-content: center;
      margin-left: 8px;
      margin-right: 6px;

      padding-left: 4px;
      padding-right: 4px;
      padding-top: 2px;
      padding-bottom: 2px;
    }
    .FileStatus._isNoticeFile {
      background-color: oklch(0.8 0.1 0 / 0.5);
      border-color: oklch(0.6 0.2 0);
    }
    .FileStatus._isHiddenFile {
      background-color: oklch(0.8 0 0 / 0.5);
      border-color: oklch(0.6 0 0);
    }
  }
}
