.Template {
  .Lefter {
    .FileInfo_Group {
      align-items: center;
      cursor: pointer;
      display: flex;
      flex-direction: row;

      min-width: 100%;

      user-select: none;

      width: fit-content;

      &:hover {
        background-color: #dddddd;
      }

      &._isNewFile {
        color: oklch(0.4 0.3 120);
        font-style: italic;
        font-weight: 700;
      }

      &._isNotNewFile {
        color: #000000;
      }
    }
  }
}
