.Template {
  .Lefter {
    .FileInfo_Group {
      align-items: center;
      cursor: pointer;
      display: flex;
      flex-direction: row;

      min-width: 100%;

      user-select: none;

      width: fit-content;

      &:hover {
        background-color: #dddddd;
      }
    }
  }
}


