@use '../../../../base/styles/values.scss' as v;

.Template {
  .Righter {
    .ChatList_Object {
      background-color: transparent;
      display: flex;
      flex-direction: column;

      height: 450px;

      overscroll-behavior: contain;
      overflow-y: auto;

      width: 100%;
    }
  }
}
