.Template {
  .QnAPage {
    .QnAHeader_Part {
      .HeaderButtonRow_Object {
        align-items: center;
        display: flex;
        flex-direction: row;
        gap: 8px;
        justify-content: flex-end;

        padding-right: 4px;
        position: absolute;

        right: 0px;
        bottom: 4px;

        width: 100%;
      }
    }
  }
}
