@use '../../../../base/styles/values.scss' as v;

.Template {
  .Header {
    .Title_Part {
      color: v.$SAKURA_TEXT;
      cursor: pointer;
      font-size: 32px;
      font-weight: 700;

      height: fit-content;

      padding-bottom: 12px;
      padding-top: 16px;

      user-select: none;

      width: fit-content;
    }
  }
}
