@use '../../../../base/styles/values.scss' as sv;

.Template {
  .BlogPage {
    .ReplyNewReply_F {
      align-items: center;

      background-color: sv.$SAKURA_BG_30;

      border-color: #c0c0c0;
      border-radius: 3px;
      border-top-width: 2px;

      display: flex;
      flex-direction: column;

      margin-top: 4px;
      padding-top: 8px;
      padding-bottom: 8px;

      padding-left: 36px;
      padding-right: 12px;

      width: 100%;

      ._targetUserNameContainer {
        align-items: center;
        cursor: default;
        display: flex;
        flex-direction: row;
        font-size: 14px;

        margin-left: 0px;
        margin-right: auto;

        width: fit-content;

        ._targetUserName {
          font-size: 16px;
          font-weight: 600;

          margin-right: 4px;

          width: fit-content;
        }
      }

      ._newReplyContent {
        background-color: white;
        border-color: sv.$SAKURA_BORDER;
        border-radius: 3px;
        border-width: 2px;

        // height: 100px; // 이거 코드에서 자동으로 설정한다.

        margin-top: 8px;
        // overflow-y: auto; // 크기 변하도록 했다.

        padding-left: 8px;
        padding-right: 8px;
        padding-top: 4px;
        padding-bottom: 4px;

        width: 100%;
      }

      ._newReplyBottomRow {
        align-items: center;
        display: flex;
        flex-direction: row;

        gap: 8px;

        padding-top: 8px;

        width: 100%;
      }
    }
  }
}

