@use '../../../base/styles/values.scss' as v;

$Width_Part: 160px;
$Delta_Left: 130px;

.Template {
  .Tabs {
    ._part_common {
      align-content: center;

      border-top-right-radius: 16px;
      border-top-left-radius: 16px;

      border-top-width: 4px;
      border-right-width: 4px;
      border-left-width: 4px;

      box-shadow: 4px 2px 4px 0 rgba(0, 0, 0, 0.4);

      color: v.$SAKURA_TEXT;
      cursor: pointer;

      font-size: 20px;

      height: 80%;

      position: absolute;

      text-align: center;
      transition: height 0.3s ease;
      user-select: none;

      width: $Width_Part;

      &:hover {
        height: 100%;
      }

      &._selected {
        font-size: 24px;
        font-weight: 700;
        height: 100%;
      }
    }

    .Home_Part {
      background-color: v.$TabColor_Home_Light;
      border-color: v.$TabColor_Home_Deep;
      color: v.$TabColor_Home_Deep;
      left: 0;

      z-index: 10;

      &._selected {
        background-color: v.$TabColor_Home_Normal;
      }
    }

    .Blog_Part {
      background-color: v.$TabColor_Blog_Light;
      border-color: v.$TabColor_Blog_Deep;
      color: v.$TabColor_Blog_Deep;
      left: $Delta_Left;

      z-index: 9;

      &._selected {
        background-color: v.$TabColor_Blog_Normal;
      }
    }

    .QnA_Part {
      background-color: v.$TabColor_QnA_Light;
      border-color: v.$TabColor_QnA_Deep;
      color: v.$TabColor_QnA_Deep;
      left: $Delta_Left * 2;

      z-index: 8;

      &._selected {
        background-color: v.$TabColor_QnA_Normal;
      }
    }

    .Contact_Part {
      background-color: v.$TabColor_Contact_Light;
      border-color: v.$TabColor_Contact_Deep;
      color: v.$TabColor_Contact_Deep;
      left: $Delta_Left * 3;

      z-index: 7;

      &._selected {
        background-color: v.$TabColor_Contact_Normal;
      }
    }
  }
}
