.Template {
  .Lefter {
    .NewFile {
      align-items: center;
      background-color: oklch(0.7 0.15 120 / 0.8);
      border-radius: 4px;
      border-width: 1px;
      border-color: oklch(0.6 0.2 120);
      color: oklch(0.95 0.05 120);
      display: flex;
      flex-direction: row;
      font-size: 10px;
      font-weight: 600;
      justify-content: center;
      margin-left: 4px;
      margin-right: 4px;
      padding-left: 4px;
      padding-right: 4px;
      padding-top: 1px;
      padding-bottom: 1px;
    }
  }
}
