.Template {
  .Righter {
    .ChatInput_Group {
      // textarea 가 ChagInputGroup.tsx 에서 자동 높이조절 된다.
      height: fit-content;

      overscroll-behavior: contain;

      padding: 6px;
      width: 100%;

      ._input_wrapper {
        border-color: #d0d0d0;
        border-radius: 4px;
        border-width: 1px;

        cursor: text;

        height: 80px;

        overscroll-behavior: contain;
        overflow-y: auto;

        padding-left: 2px;
        padding-right: 10px;
      }

      ._input_chat {
        overflow-y: hidden;
        overscroll-behavior: contain;

        padding-left: 4px;
        padding-right: 4px;
        padding-top: 4px;
        padding-bottom: 4px;

        width: 100%;
      }
    }
  }
}
