@use '../../../../base/styles/values.scss' as v;

$CHAT_ROOM_LIST_PART_WIDTH: 270px;

.Template {
  .Righter {
    .ChatRoomList_Part {
      background-color: #e0e0e0;

      border-color: #808080;
      border-radius: 8px;
      border-width: 4px;

      box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);

      display: flex;
      flex-direction: column;
      gap: 12px;
      height: 600px;
      overflow-y: scroll;

      padding-bottom: 12px;
      padding-top: 12px;

      transition: box-shadow 0.3s ease, opacity 1s ease, transform 1s ease;

      width: $CHAT_ROOM_LIST_PART_WIDTH;

      &._open {
        opacity: 1;
        transform: translateX(0);
      }

      &._close {
        opacity: 0;
        transform: translateX($CHAT_ROOM_LIST_PART_WIDTH);
      }

      &:hover {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
      }

      ._chatRoomRow {
        align-items: center;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        font-size: 18px;
        font-weight: 500;
        padding: 8px;
        transition: background-color 0.2s ease, box-shadow 0.2s ease;

        ._chatRoomName {
          color: v.$SAKURA_TEXT_DEEP;
        }

        ._chatRoomUserId {
          color: v.$SAKURA_BORDER_50;
          font-size: 14px;
        }

        &:hover {
          background-color: v.$SAKURA_BG_70;
          border-radius: 6px;
          box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
          font-weight: 700;
        }
      }
    }
  }
}
