@use '../../../../base/styles/values.scss' as v;

.Template {
  .Righter {
    .ChatSubmit_Group {
      align-items: center;
      display: flex;
      flex-direction: row;

      padding-bottom: 4px;

      .__length {
        font-size: 14px;
        margin-left: auto;

        user-select: none;
      }
      .__submit {
        background-color: #f0f0f0;
        border-color: #808080;
        border-radius: 4px;
        border-width: 2px;

        color: #404040;
        font-size: 14px;
        font-weight: 700;

        margin-left: 8px;
        margin-right: 8px;

        padding-left: 4px;
        padding-right: 4px;
        padding-top: 2px;
        padding-bottom: 2px;

        &:hover {
          background-color: #d0d0d0;
        }
      }
    }
  }
}

