@use '../../../../../base/styles/values.scss' as v;

.Template {
  .QnAReadPage {
    .QnAHeader_Part {
      .HeaderBtnRow_Object {
        .DeleteQnAButton {
          align-items: center;
          background-color: white;
          border-color: v.$SAKURA_BORDER;
          border-radius: 4px;
          border-width: 2px;

          color: v.$SAKURA_TEXT;
          cursor: pointer;
          display: flex;
          flex-direction: column;
          font-size: 14px;

          justify-content: center;

          padding: 2px 4px;

          transition: 0.2s;

          &:hover {
            background-color: v.$SAKURA_BG_50;
            font-weight: 700;
          }
        }
      }
    }
  }
}

