.Template {
  .BlogPage {
    align-items: center;
    cursor: default;
    display: flex;
    flex-direction: column;
    height: fit-content;

    min-height: 300px;

    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    padding-bottom: 4px;

    width: 100%;

    ._container_contents {
      border-color: #d0d0d0;
      border-radius: 12px;
      border-width: 2px;

      margin-top: 32px;

      padding-left: 15px;
      padding-right: 15px;

      transition: box-shadow 0.3s ease-in-out;

      width: 880px;

      &:hover {
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
      }
    }
  }
}

.ImagePreviewModal {
  .MODAL_Contents {
    background-color: transparent;
    border: none;
    padding: 20px;

    img {
      border-radius: 8px;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
      object-fit: contain;
    }
  }
}
