.Template {
  .BlogPage {
    align-items: center;
    cursor: default;
    display: flex;
    flex-direction: column;
    height: fit-content;

    min-height: 300px;

    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    padding-bottom: 4px;

    width: 100%;

    ._container_contents {
      margin-top: 32px;
      width: 850px;
    }
  }
}

.ImagePreviewModal {
  .MODAL_Contents {
    background-color: transparent;
    border: none;
    padding: 20px;

    img {
      border-radius: 8px;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
      object-fit: contain;
    }
  }
}
