@use './values.scss' as v;

.SCROLL_SAKURA {
  // 스크롤바 스타일링
  scrollbar-width: 8px; // Firefox
  scrollbar-color: v.$SAKURA_BORDER v.$SAKURA_BG; // Firefox

  // Webkit 브라우저용 스크롤바 스타일
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: v.$SAKURA_BG;
    border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background: v.$SAKURA_BORDER;
    border-radius: 3px;

    &:hover {
      background: v.$SAKURA_BORDER_50;
    }
  }
}

.SCROLL_GREY,
.SCROLL_GRAY {
  // 스크롤바 스타일링
  scrollbar-width: 8px; // Firefox
  scrollbar-color: #808080 #e0e0e0; // Firefox

  // Webkit 브라우저용 스크롤바 스타일
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #e0e0e0;
    border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background: #808080;
    border-radius: 3px;

    &:hover {
      background: #606060;
    }
  }
}

.SCROLL_WHITE {
  scrollbar-width: 8px; // Firefox
  scrollbar-color: #e0e0e0 #ffffff; // Firefox

  // Webkit 브라우저용 스크롤바 스타일
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #e0e0e0;
    border-radius: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 3px;

    &:hover {
      background: #f0f0f0;
    }
  }
}
