// AREA1: Sakura Area

$SAKURA_OKLCH: oklch(0.85 0.08 15);

$SAKURA_BORDER_DEEP_100: oklch(0.75 0.2 15);
$SAKURA_BORDER_DEEP_50: oklch(0.8 0.15 15);
$SAKURA_BORDER: oklch(0.85 0.08 15);
$SAKURA_BORDER_50: oklch(0.925 0.08 15);
$SAKURA_BORDER_30: oklch(0.95 0.08 15);

$SAKURA_BG_DEEP_100: oklch(0.9 0.03 25);
$SAKURA_BG_DEEP_50: oklch(0.925 0.03 25);
$SAKURA_BG: oklch(0.95 0.03 25);
$SAKURA_BG_70: oklch(0.965 0.03 25);
$SAKURA_BG_50: oklch(0.975 0.03 25);
$SAKURA_BG_30: oklch(0.985 0.03 25);
$SAKURA_BG_20: oklch(0.99 0.03 25);
$SAKURA_BG_10: oklch(0.995 0.03 25);

$SAKURA_TEXT: oklch(0.8 0.15 25);
$SAKURA_TEXT_DEEP: oklch(0.7 0.15 25);

// $SAKURA_TEXT: #f89890;
// $SAKURA_TEXT_DEEP: #f05858;

// AREA2: Template Area

$Width_Template_Tabs: 1200px;

$Z_Index_Template_AlarmList: 110;
$Z_Index_Template_Righter: 100;

// AREA3: Tab Color Area

$TabColor_Home_Deep: oklch(0.72 0.18 0deg);
$TabColor_Blog_Deep: oklch(0.72 0.18 90deg);
$TabColor_QnA_Deep: oklch(0.72 0.18 180deg);
$TabColor_Contact_Deep: oklch(0.72 0.18 270deg);

$TabColor_Home_Normal: oklch(0.92 0.18 0deg);
$TabColor_Blog_Normal: oklch(0.92 0.18 90deg);
$TabColor_QnA_Normal: oklch(0.92 0.18 180deg);
$TabColor_Contact_Normal: oklch(0.92 0.18 270deg);

$TabColor_Home_Light: oklch(0.95 0.07 0deg);
$TabColor_Blog_Light: oklch(0.95 0.07 90deg);
$TabColor_QnA_Light: oklch(0.95 0.07 180deg);
$TabColor_Contact_Light: oklch(0.95 0.07 270deg);

// AREA1: Legacy Area
$AdminModal_Z_Index: 5;
$Sidebar_Z_Index: 10;
$LoadChat_Z_Index: 11;
$SubModal_Z_Index: 50;
$Modal_Z_Index: 10000;
