@use '../../../../base/styles/values.scss' as v;

.Template {
  .Righter {
    .OpenChatRoomList_Btn {
      align-items: center;

      background-color: #ffffff;

      border-color: #808080;
      border-radius: 50%;
      border-width: 2px;

      box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);

      color: #808080;
      cursor: pointer;

      display: flex;

      font-size: 28px;
      font-weight: 700;

      height: 40px;
      justify-content: center;

      position: fixed;
      right: 100px;
      bottom: 100px;

      transition: box-shadow 0.3s ease;
      user-select: none;

      width: 40px;
      z-index: v.$Sidebar_Z_Index;

      &:hover {
        border-width: 3px;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.35);
      }
    }
  }
}
