.Template {
  .BlogReadingPage {
    .CommentPaging_Group {
      display: flex;
      flex-direction: row;
      gap: 10px;

      margin-top: 16px;

      ._pageIndex {
        cursor: pointer;
        font-size: 16px;

        width: fit-content;

        &._nowIdx {
          font-weight: 700;
        }
      }
    }
  }
}

