@use '../../base/styles/values.scss' as v;

.Template {
  .Righter {
    display: flex;
    flex-direction: row;
    gap: 16px;

    height: fit-content;

    right: 20px;
    position: fixed;

    top: 160px;

    width: fit-content;

    z-index: v.$Z_Index_Template_Righter;
  }
}
