@use '../../base/styles/values.scss' as v;

.Template {
  .Righter {
    display: flex;
    flex-direction: column;

    height: fit-content;

    right: 20px;
    position: fixed;

    top: 90px;

    width: fit-content;

    z-index: v.$Sidebar_Z_Index;
  }
}
