@use '../../base/styles/values.scss' as v;

.Template {
  align-items: center;

  display: flex;
  flex-direction: column;

  min-height: 100vh;
  width: calc(100vw - 10px);

  .Body {
    align-items: center;
    display: flex;
    flex-direction: row;

    position: relative;

    width: 100%;

    .PageArea {
      display: flex;
      flex-direction: column;
      height: fit-content;

      min-height: 800px;
      width: 100%;
    }
  }
}
