.Template {
  .PostingPage {
    .FileHeader_Object {
      border-color: #888888;
      border-bottom-width: 2px;

      display: flex;
      flex-direction: column;

      width: 100%;
    }
  }
}
