@use '../../../../../base/styles/values.scss' as v;

.Template {
  .AdminPage {
    .Logs_Part {
      align-items: center;

      border-color: v.$SAKURA_BORDER;
      border-radius: 8px;
      border-width: 4px;

      box-shadow: 0 0 10px 0 rgba(60, 60, 60, 0.2);

      color: v.$SAKURA_TEXT;

      display: flex;
      flex-direction: column;

      height: 250px;

      transition: box-shadow 0.3s ease;

      width: 250px;

      &:hover {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
      }

      ._part_title {
        display: flex;
        flex-direction: row;

        font-size: 24px;
        font-weight: 700;

        height: 40px;

        justify-content: center;

        margin-bottom: 16px;
        margin-top: 4px;

        position: relative;

        user-select: none;
        width: 100%;

        ._part_title_text {
          cursor: pointer;
          font-size: 24px;
          width: fit-content;
          transition: font-size 0.2s ease-in-out;
        }
        ._part_title_text:hover {
          font-size: 26px;
        }
        ._part_title_icon {
          cursor: pointer;
          font-size: 24px;
          height: 32px;

          right: 8px;
          position: absolute;
          top: 4px;
          transition: font-size 0.2s ease-in-out, height 0.2s ease-in-out;
        }
        ._part_title_icon:hover {
          font-size: 28px;
          height: 36px;
          right: 6px;
          position: absolute;
          top: 2px;
        }
      }

      ._part_content {
        font-size: 16px;
        margin: 4px 0;
        text-align: center;
      }
    }
  }
}
