.Template {
  > .Body {
    > .PageArea {
      > .AdminPage {
        align-items: center;
        display: flex;
        flex-direction: column;

        padding-top: 20px;

        ._pageWrapper {
          align-items: center;

          display: flex;
          flex-direction: column;

          height: fit-content;

          min-height: 600px;
          width: 1000px;

          ._page_title {
            cursor: pointer;

            font-size: 32px;
            font-weight: 700;

            user-select: none;
          }

          ._page_row {
            align-items: center;

            display: flex;
            flex-direction: row;

            gap: 32px;

            margin-top: 32px;

            width: 100%;
          }

          ._page_row._row_0 {
            margin-top: 32px;
          }
        }
      }
    }
  }
}
