@use '../../../../base/styles/values.scss' as v;

.Template {
  .Righter {
    .ChatSubmit_Object {
      background-color: white;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;

      border-top-color: #808080;
      border-top-width: 2px;

      display: flex;
      flex-direction: column;

      height: fit-content;

      margin-top: auto;
    }
  }
}

