@use '../../../../base/styles/values.scss' as v;

.Template {
  .Lefter {
    .DirInfo_Group {
      align-items: center;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      font-weight: 700;

      user-select: none;

      &:hover {
        background-color: #dddddd;
      }
    }
  }
}
