@use '../../../base/styles/values.scss' as sv;

.Template {
  .Body_Template {
    .PageArea_Template {
      .AdminUsersPage {
        align-items: center;
        display: flex;
        flex-direction: column;

        justify-content: center;

        padding-top: 20px;

        width: 100%;

        ._pageWrapper {
          align-items: center;
          display: flex;
          flex-direction: column;

          height: fit-content;

          justify-content: center;

          min-width: 800px;

          width: fit-content;

          ._page_title {
            cursor: pointer;
            font-size: 32px;
            font-weight: 700;
            user-select: none;
          }
        }
      }
    }
  }
}
