@use '../../../base/styles/values.scss' as v;

.Template {
  .Header {
    .Alarm_Icon {
      background-color: white;
      border-color: v.$SAKURA_BORDER;
      border-radius: 15%;
      border-width: 2px;

      color: v.$SAKURA_TEXT;
      cursor: pointer;
      font-size: 28px;
    }
    .Alarm_Icon:hover {
      background-color: v.$SAKURA_BG_50;
    }
  }
}
