@use '../../../base/styles/values.scss' as v;

.Template {
  .Header {
    .UserName_Object {
      color: v.$SAKURA_TEXT;
      cursor: pointer;
      font-size: 18px;
      font-weight: 700;
    }
  }
}
