@use '../../../../base/styles/values.scss' as v;

.Template {
  .Lefter {
    .DirectoryInfo_Group {
      align-items: center;
      display: flex;
      flex-direction: row;
      font-weight: 700;

      padding-right: 4px;

      width: 100%;

      &:hover {
        background-color: v.$SAKURA_BG_50;
      }

      ._title_group {
        font-weight: 700;

        width: fit-content;
      }
    }
  }
}

