@use '../../../../base/styles/values.scss' as v;

.Template {
  .Lefter {
    .DirectoryInfo_Group {
      align-items: center;
      display: flex;
      flex-direction: row;
      font-weight: 700;

      padding-right: 4px;

      width: 100%;

      &:hover {
        background-color: v.$SAKURA_BG_50;
      }

      ._title_group {
        font-weight: 700;

        flex: 1;
        min-width: 0;
        word-break: break-word;
      }

      ._btn_row_group {
        background-color: v.$SAKURA_BG;
        border-color: v.$SAKURA_BORDER;
        border-width: 1px;

        padding-left: 4px;
        padding-right: 4px;

        z-index: 1;
      }
    }
  }
}
