@use '../../../../base/styles/values.scss' as v;

.Template {
  .Righter {
    .SignUp_Part {
      display: flex;
      flex-direction: column;

      height: fit-content;

      width: fit-content;
    }
  }
}

