@use '../../../../base/styles/values.scss' as v;

.Template {
  .Lefter {
    .FileRowInfo_Group {
      align-items: center;
      display: flex;
      flex-direction: row;

      padding-left: 4px;
      padding-top: 3px;
      padding-bottom: 3px;

      &._hover,
      &:hover {
        background-color: v.$SAKURA_BG_50;
      }
    }
  }
}

