@use '../base/styles/values.scss' as v;

.Template {
  align-items: center;

  display: flex;
  flex-direction: column;

  min-height: 100vh;
  min-width: calc(100vw - 16px);

  width: 1904px;

  .Body_Template {
    display: flex;
    flex-direction: row;
    height: 100%;

    justify-content: center;

    margin-bottom: 30px;
    min-height: 700px;

    position: relative;
    width: 100%;

    .PageArea_Template {
      width: v.$Width_Template_Tabs;
    }
  }
}
