@use '../base/styles/values.scss' as v;

.Template {
  align-items: center;

  display: flex;
  flex-direction: column;

  height: 100vh;
  overflow-y: scroll;
  width: 100vw;

  .Body_Template {
    display: flex;
    flex-direction: row;
    height: 100%;

    justify-content: center;

    min-height: 700px;

    position: relative;
    width: 100%;

    .PageArea_Template {
      width: v.$Width_Template_Tabs;
    }
  }
}
