@use '../../../../base/styles/values.scss' as v;

$CHAT_ROOM_PART_WIDTH: 340px;
$CHAT_ROOM_LIST_PART_WIDTH: 270px;
$RIGHTER_GAP: 16px;

.Template {
  .Righter {
    .ChatRoom_Part {
      background-color: #d0e0f0;
      border-color: #808080;
      border-radius: 8px;
      border-width: 2px;

      box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);

      display: flex;
      flex-direction: column;

      height: fit-content;

      padding-top: 8px;
      position: fixed;
      right: 36px;
      top: 160px;

      transition: box-shadow 0.3s ease, opacity 1s ease, transform 1s ease;

      width: $CHAT_ROOM_PART_WIDTH;

      // 채팅방 목록이 없을 때: 오른쪽에서 슬라이드
      &._open._withoutList {
        opacity: 1;
        transform: translateX(0);
      }

      &._close._withoutList {
        opacity: 0;
        transform: translateX($CHAT_ROOM_PART_WIDTH);
      }

      // 채팅방 목록이 있을 때
      // 1. 채팅방 목록이 열려있을 때 채팅방을 열면: 오른쪽에서 왼쪽으로 슬라이드하며 생성 (채팅방 목록 바로 왼편)
      //    채팅방 목록이 채팅방을 밀어내는 느낌이므로 채팅방 목록 너비만큼만 왼쪽으로 이동
      &._open._withList {
        opacity: 1;
        transform: translateX(-$CHAT_ROOM_LIST_PART_WIDTH);
      }

      // 2. 채팅방 목록이 열려있을 때 채팅방을 끄면: 오른쪽으로 이동하면서 사라짐
      &._close._withList {
        opacity: 0;
        transform: translateX(-$CHAT_ROOM_LIST_PART_WIDTH + $CHAT_ROOM_PART_WIDTH);
      }

      &:hover {
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
      }
    }
  }
}
