@use '../../../../base/styles/values.scss' as v;

.Template {
  .HomePage {
    .Intro_Part {
      align-items: center;

      display: flex;
      flex-direction: column;

      min-height: 200px;

      padding: 20px;

      width: 100%;

      ._title_part {
        color: v.$SAKURA_TEXT;
        font-size: 28px;
        font-weight: 700;

        user-select: none;
      }
    }
  }
}
