@use '../../../../base/styles/values.scss' as v;

.Template {
  .Righter {
    .LoadChat_Button {
      background-color: #c0c0c0;
      color: black;
      cursor: pointer;
      font-size: 16px;
      font-weight: 700;

      margin-bottom: 8px;

      padding-top: 4px;
      padding-bottom: 4px;

      text-align: center;
      transition: box-shadow 0.3s ease;

      user-select: none;
      width: 100%;

      &:hover {
        box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
      }
    }
  }
}

