@use '../../../../base/styles/values.scss' as v;

.Template {
  .HomePage {
    .RecentPosts_Part {
      align-items: center;

      background-color: #ffffff;
      border-color: v.$SAKURA_BORDER;
      border-radius: 8px;
      border-width: 4px;

      display: flex;
      flex-direction: column;

      height: 400px;

      padding-top: 8px;

      width: 320px;

      ._title_part {
        color: v.$SAKURA_TEXT;
        cursor: pointer;

        font-size: 24px;
        font-weight: 700;

        height: 40px;

        justify-content: center;

        user-select: none;
      }

      ._post_list_part {
        border-color: v.$SAKURA_BORDER;
        border-radius: 8px;
        border-width: 2px;

        box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.1);

        display: flex;
        flex-direction: column;

        height: calc(100% - 40px - 24px);

        margin-top: 12px;

        padding: 8px;

        transition: box-shadow 0.3s ease;

        width: calc(100% - 24px);

        &:hover {
          box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
}
