@use '../../../base/styles/values.scss' as v;

.Template {
  .Lefter {
    .Admin_Button {
      align-items: center;
      border-color: v.$SAKURA_BORDER;
      border-radius: 50%;
      border-width: 2px;

      box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);

      color: v.$SAKURA_TEXT;
      cursor: pointer;

      display: flex;
      justify-content: center;
      font-size: 28px;
      font-weight: 700;

      height: 40px;

      margin-left: auto;

      transition: box-shadow 0.3s ease;
      user-select: none;

      width: 40px;

      &:hover {
        border-width: 3px;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.35);
      }
    }
  }
}
