@use '../../../base/styles/values.scss' as v;

.Template {
  .Lefter {
    .DirectoryRow_Object {
      display: flex;
      flex-direction: column;

      min-width: 100%;
      padding-top: 2px;
      padding-bottom: 2px;

      width: fit-content;

      ._container_object {
        display: flex;
        flex-direction: column;
        margin-left: 12px;
      }
    }
  }
}
