@use '../../../base/styles/values.scss' as v;

.Template {
  .Lefter {
    .DirectoryList_Part {
      background-color: v.$SAKURA_BG;

      border-color: v.$SAKURA_BORDER;
      border-radius: 8px;
      border-width: 4px;

      box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);

      // color: v.$SAKURA_TEXT;

      display: flex;
      flex-direction: column;

      height: 600px;

      overflow-x: auto;
      overflow-y: scroll;

      padding-top: 4px;
      padding-bottom: 4px;

      transition: box-shadow 0.3s ease;

      width: 100%;

      &:hover {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
      }
    }
  }
}
