@use '../../../../base/styles/values.scss' as sv;

.Template {
  .BlogPage {
    .CommentWritting_Group {
      align-items: center;

      border-color: #e8e8e8;
      border-radius: 4px;
      border-width: 2px;

      cursor: text;
      display: flex;
      flex-direction: column;

      margin-top: 8px;
      margin-bottom: 4px;

      padding-left: 12px;
      padding-right: 2px;
      padding-top: 8px;
      padding-bottom: 8px;

      transition: box-shadow 0.3s ease-in-out;

      width: calc(100% - 24px);

      &:focus-within {
        background-color: sv.$SAKURA_BG_30;
        box-shadow: inset 0px 0px 4px 0px rgba(64, 0, 0, 0.2);
      }

      > ._writtingComment {
        font-size: 14px;

        height: 100px;

        overflow-y: auto;

        width: 100%;
      }
    }
  }
}

