@use '../../../../base/styles/values.scss' as v;

.Template {
  .Header {
    .Alarm_Button {
      background-color: white;
      border-color: v.$SAKURA_BORDER;
      border-radius: 8px;
      border-width: 2px;

      color: v.$SAKURA_TEXT;
      font-size: 24px;

      height: fit-content;

      padding: 2px;

      width: fit-content;

      &:hover {
        background-color: v.$SAKURA_BG_50;
      }
    }
  }
}
