.Template {
  .ReadingPage {
    .ReplyUserName_F {
      position: relative;

      width: fit-content;

      ._replyUserName {
        cursor: pointer;
        font-size: 18px;
        font-weight: 600;

        user-select: none;
      }
    }
  }
}
