@use '../../../../base/styles/values.scss' as v;

.Template {
  .Righter {
    .CloseRoom_Button {
      border-color: #e00000;
      border-radius: 50%;
      border-width: 2px;

      color: #e00000;
      cursor: pointer;

      font-size: 20px;
      position: absolute;
      right: 4px;
      top: 14px;

      &:hover {
        background-color: #ffdddd;
      }
    }
  }
}

