.Template {
  .Body_Template {
    .PageArea_Template {
      .AdminPostingPage {
        ._editingFilePart {
          .FileContents_Object {
            height: 520px;
            padding-bottom: 4px;
            padding-top: 4px;

            width: 100%;

            textarea {
              height: 100% !important;

              min-height: 500px;
              overflow-y: auto;

              padding-bottom: 4px;
              padding-left: 8px;
              padding-right: 8px;
              padding-top: 4px;

              width: 100%;
            }
          }
        }
      }
    }
  }
}

