.Template {
  .BlogReadingPage {
    .CommentUserInfo_E {
      background-color: white;

      border-color: #d0d0d0;
      border-radius: 12px;
      border-width: 2px;

      cursor: default;

      display: flex;
      flex-direction: column;

      left: calc(100% + 12px);
      min-width: 200px;
      position: absolute;
      top: -24px;
      width: fit-content;

      .__row_name_id {
        align-items: center;
        display: flex;
        flex-direction: row;
        gap: 4px;

        padding-left: 8px;
        padding-right: 8px;
        padding-top: 4px;
        padding-bottom: 2px;

        .__info_name {
          font-size: 18px;
          font-weight: 600;
        }
        .__info_id {
          font-size: 14px;
          font-weight: 400;
        }
      }
      .__row_mail {
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 2px;
        padding-bottom: 2px;

        .__info_mail {
          font-size: 14px;
          font-style: italic;
          font-weight: 400;
        }
      }
      .__row_button {
        display: flex;
        flex-direction: row;
        justify-content: center;

        padding-left: 8px;
        padding-right: 8px;
        padding-top: 8px;
        padding-bottom: 2px;

        width: 100%;

        .ChatUserButton {
          color: #44cc44;
          font-size: 28px;
        }
      }
    }
  }
}

