@use '../../../base/styles/values.scss' as sv;

.Template {
  .ModalSetDir_Main {
    align-items: center;
    color: sv.$SAKURA_TEXT;

    display: flex;
    flex-direction: column;

    height: 450px;
    width: 400px;

    ._Title {
      font-size: 32px;
      font-weight: 700;

      margin-bottom: 12px;
      margin-top: 8px;

      user-select: none;
    }

    ._InputRow {
      align-items: center;
      display: flex;
      flex-direction: row;
      height: fit-content;
      justify-content: center;

      margin-top: 16px;
      text-align: center;
      width: 100%;

      .__Label {
        font-size: 20px;
        font-weight: 700;

        user-select: none;

        width: 100px;
      }

      .__Input {
        border-color: sv.$SAKURA_BORDER;
        border-radius: 8px;
        border-width: 1px;
        font-size: 18px;
        height: 40px;

        padding-left: 8px;
        padding-right: 8px;
        padding-top: 4px;
        padding-bottom: 4px;

        width: 240px;

        &::placeholder {
          font-size: 14px;
        }
      }
    }

    ._ButtonRow {
      align-items: center;
      display: flex;
      flex-direction: row;

      justify-content: center;

      margin-top: auto;
      margin-bottom: 16px;

      button {
        border-radius: 12px;
        border-width: 4px;

        margin: 8px;
        padding: 8px;

        width: 100px;
      }
    }
  }
}
