@use '../../../../../base/styles/values.scss' as v;

.Template {
  .AdminPage {
    .Users_Part {
      .UsersStatus_Object {
        border-radius: 50%;
        height: 60px;
        width: 60px;
        // 스타일 정의
      }
    }
  }
}

