.Template {
  .Lefter {
    .HeaderRow_Object {
      display: flex;
      flex-direction: row;
      height: 32px;
      gap: 4px;

      padding-right: 4px;

      width: 100%;
      ._icon {
        color: #000000;
        font-size: 24px;
      }
      ._icon:hover {
        font-size: 28px;
      }
    }
  }
}

