@use '../../../../base/styles/values.scss' as v;

.Template {
  .HomePage {
    .RecentPosts_Part {
      .RecentFileRow_RObject {
        align-items: center;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        padding-top: 4px;
        padding-bottom: 4px;
        width: 100%;

        &:hover {
          background-color: rgba(0, 0, 0, 0.05);
        }

        ._title_object {
          flex: 1;
          font-size: 14px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
}
