@use '../../../../base/styles/values.scss' as sv;

.Template {
  .BlogPage {
    .ReplyContent_F {
      align-items: center;
      display: flex;
      flex-direction: column;

      margin-top: 6px;

      padding-left: 24px;

      width: calc(100% - 24px);

      ._replyContent {
        background-color: white;
        border-color: #f0f0f0;
        border-radius: 4px;
        border-width: 2px;

        // 최소 높이는 ReplyContent_F.tsx 에서 관리한다.

        font-size: 14px;
        font-weight: 400;

        padding-left: 8px;
        padding-right: 8px;
        padding-top: 4px;
        padding-bottom: 4px;

        white-space: pre-line;
        width: 100%;

        b {
          cursor: pointer;
          font-size: 16px;
          margin-right: 8px;
        }
      }
      textarea._replyContent {
        background-color: white;
        border-color: sv.$SAKURA_BORDER;
      }

      ._editing_extra_row {
        align-items: center;
        display: flex;
        flex-direction: row;
        margin-top: 8px;
        width: 100%;

        .__editing_reply_length {
          display: flex;
          flex-direction: row;

          color: sv.$SAKURA_TEXT;
          font-size: 14px;

          margin-left: auto;
          user-select: none;
        }

        .SubmitEditReply_Button {
          margin-left: 8px;
          margin-right: 6px;
        }
      }
    }
  }
}

