.Template {
  .Lefter {
    .BlogLefter_Part {
      .DirectoryRow_RObject {
        display: flex;
        flex-direction: column;

        min-width: 100%;
        padding-top: 2px;
        padding-bottom: 2px;

        width: fit-content;

        ._container_object {
          display: flex;
          flex-direction: column;
          margin-left: 12px;
        }
      }
    }
  }
}

