.Template {
  .ReadingPage {
    .CommentAdd_Object {
      align-items: center;

      border-color: #d0d0d0;
      border-radius: 12px;
      border-width: 2px;

      display: flex;
      flex-direction: column;

      padding-bottom: 8px;

      transition: box-shadow 0.3s ease-in-out;

      width: 90%;

      ._title_object {
        margin-left: 12px;
        margin-right: auto;
        margin-top: 4px;

        user-select: none;
      }
    }
  }
}
