@use '../../base/styles/values.scss' as v;

.Template {
  .Lefter {
    display: flex;
    flex-direction: column;

    height: 600px;

    left: 32px;
    position: fixed;

    top: 160px;

    width: fit-content;

    z-index: v.$Z_Index_Template_Righter;
  }
}
