.Template {
  .BlogReadingPage {
    .CommentDate_F {
      cursor: default;
      font-size: 14px;
      font-weight: 400;

      margin-top: 4px;
      margin-left: 12px;
      margin-right: auto;
      margin-bottom: 8px;
      width: fit-content;
    }
  }
}

