@use '../../../base/styles/values.scss' as v;

.Template {
  .QnAReadPage {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: fit-content;

    margin-bottom: 48px;
    padding-top: 48px;

    width: 100%;

    ._container_page {
      align-items: center;

      border-color: #d0d0d0;
      border-radius: 12px;
      border-width: 2px;

      display: flex;
      flex-direction: column;

      height: fit-content;

      padding-bottom: 16px;

      width: 850px;
    }
  }
}
