@use '../../../base/styles/values.scss' as v;

.Template {
  .QnAEditPage {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: fit-content;

    margin-bottom: 16px;
    padding-top: 48px;

    width: 100%;

    ._container_page {
      align-items: center;

      display: flex;
      flex-direction: column;

      height: fit-content;

      padding-bottom: 16px;

      width: 850px;
    }
  }
}

