@use '../../../base/styles/values.scss' as v;

.Template {
  .Header {
    display: flex;
    flex-direction: column;

    height: fit-content;

    padding-bottom: 18px;
    position: relative;

    width: 100%;
  }
}
