@use '../../../base/styles/values.scss' as v;

.Template {
  .Header {
    .TitleArea_Part {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: center;

      margin-top: 24px;

      ._title_part {
        color: v.$SAKURA_TEXT;
        cursor: pointer;
        font-size: 32px;
        font-weight: 700;
        user-select: none;
      }
    }
  }
}
