@use '../../../../../base/styles/values.scss' as v;

.Template {
  .QnAReadPage {
    .QnAHeader_Part {
      .HeaderBtnRow_Object {
        align-items: center;
        display: flex;
        flex-direction: row;
        gap: 8px;
        justify-content: flex-end;
      }
    }
  }
}

