.Template {
  .ReadingPage {
    .ReadingContent_Part {
      cursor: default;
      display: flex;
      flex-direction: column;
      height: fit-content;

      min-height: 300px;

      padding-left: 12px;
      padding-right: 12px;
      padding-top: 4px;
      padding-bottom: 4px;

      width: 100%;

      ._bottomLine {
        border-bottom-width: 1px;
        border-color: #d0d0d0;

        height: 24px;

        margin-top: auto;
        margin-bottom: 16px;

        width: calc(100% - 0px);
      }
    }
  }
}

.ImagePreviewModal {
  .MODAL_Contents {
    background-color: transparent;
    border: none;
    padding: 20px;

    img {
      border-radius: 8px;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
      object-fit: contain;
    }
  }
}
