@use '../../../../base/styles/values.scss' as v;

.Template {
  .Righter {
    .Toggle_Button {
      align-items: center;
      border-color: #808080;
      border-radius: 50%;
      border-width: 2px;

      box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);

      color: #808080;
      cursor: pointer;

      display: flex;

      font-size: 28px;
      font-weight: 700;

      height: 40px;
      justify-content: center;

      position: absolute;
      right: 266px;
      top: 54px;

      transition: box-shadow 0.3s ease, transform 0.7s ease;
      user-select: none;

      width: 40px;

      &:hover {
        border-width: 3px;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.35);
      }

      &._open {
        transform: translateX(0);
      }

      &._close {
        transform: translateX(266px);
      }
    }
  }
}
